@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Lobster&display=swap');
html {
    height: 100%
}

body {
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-brand {
    font-family: 'Bodoni Moda', serif;
}

.wrap:before {
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.7);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
}

.off-view .wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

.off-view .wrap:before {
    opacity: 0.5;
    visibility: visible;
}

.mob-v {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background-color: grey;
    height: calc(100vh);
    transform: translateX(110%);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    transition: .3s all ease-in-out;
}

.off-view .mob-v {
    transform: translateX(0%);
}

.mob-v .mob-v-head {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.mob-v .mob-v-head .mob-v-cl {
    float: right;
    margin-top: 8px;
    margin-right: 10px;
}

.mob-v .mob-v-head .mob-v-cl i {
    font-size: 30px;
    display: inline-block;
    padding-right: 10px;
    line-height: 1;
    cursor: pointer;
    transition: .3s all ease;
}

.mob-v .mob-v-bod {
    overflow: scroll;
    position: relative;
    padding: 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
    padding-top: 50px;
}

.mod-v .varbar-view {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.mob-v .varbar-view a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: black;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.jumbotron {
    background-image: linear-gradient(to bottom, rgba(168, 169, 182, 0.589), rgba(1, 152, 117, 1) 90%), url('images/main-image.jpg');
    background-size: cover;
    height: 100vh;
}

.main-container {
    /* background-color: grey; */
    max-width: 60%;
}

#avatar {
    width: 300px;
    height: 500px;
}

@media only screen and (max-width: 400px) {
    #avatar {
        width: 150px;
        height: 250px;
    }
    .display-4 {
        display: flex;
        font-size: 25px;
    }
    hr {
        display: none;
    }
    p {
        display: none;
    }
    .main-container {
        position: relative;
    }
}

.social-media ul {
    display: flex;
    float: right;
    margin-right: 25px;
}

.social-media li {
    list-style: none;
}

.social-media .social-links a {
    padding-right: 20px;
    color: black;
    transform: translate(-50%, 50%);
}

.social-media ul li a i {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    transition: .7s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.6);
}

.social-media ul li a:hover {
    transform: translate(0, 10px);
}

.social-media ul li a i:hover {
    /* background-image: ; */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}